$nice-blue: #3b7fc4;

@import 'components/close';

body.standup {
  /* compact column headers */
  #ghx-column-headers .ghx-column {
    padding:5px 17px !important;

    h2, .ghx-qty, .ghx-limits {
      font-size:1em !important;
      font-weight:700 !important;
    }
  }
  #gh #ghx-work #ghx-pool-column.ghx-flexible-board .ghx-swimlane .ghx-swimlane-header {
    top:30px !important;
  }

  /* hide breadcrumbs */
  [data-testid="rapidboard-breadcrumbs"] {
    display: none;
  }

  #ghx-header,
  #header,
  .aui-sidebar {
    display: none;
  }

  #ghx-operations {
    padding-top: 0.5rem;
  }

  #ghx-quick-filters {
    margin-bottom: 0.5rem;
  }

  #gh {
    padding-left: 0;
    margin-left: 0;
  }

  #ghx-rabid {
    height: 100vh;
  }
  #ghx-work {
    height: calc(100vh - 71px) !important;
  }

  #ghx-controls-buttons {
    display: flex;
    gap: 10px;
  }
  .JiraStandupMode {
    &-instructions {
      background: rgba(9, 30, 66, 0.04) none repeat scroll 0% 0%;
      transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
      color: #172b4d;
      font-weight: 500;
      padding-left: 10px;
      height: 2.28571em;
      line-height: 2.28571em;
      cursor: pointer;
      min-width: 127px;

      .text {
        margin-right: 1.4rem;
      }

      &:hover {
        background: rgba(9, 30, 66, 0.08);
        color: rgb(66, 82, 110) !important;
        transition-duration: 0s, 0.15s;
      }

      @include close-button($top: 7px, $error-color: #172b4d);
    }
  }

  &.adg3 {
    //#jira-frontend {
    //  [data-layout-container="true"] {
    //    grid-template-rows: var(--bannerHeight,0px) 0px auto;
    //  }
    //}

    #navigation-app, #ak-jira-navigation {
      display: none;
    }

    #ak-main-content {
      margin-top: calc(-1 * var(--topNavigationHeight, 56px));

      [data-testid="rapidboard-breadcrumbs"] {
        margin-top: 1.0rem;
      }
    }

    #ak-side-navigation div {
      top: calc(var(--bannerHeight,0px) + 0px)
    }

    #page-body > #content {
      border-top: 0px solid transparent;
    }

    #content {
      margin-left: 1rem;
    }
  }
}

